{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm" style="background-color: #7fb8e1;">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center text-dark fw-bold" href="{% url 'blog:index' %}">
                <img src="{% static 'img/logo.png' %}" width="30" height="30" class="me-2" alt="Логотип">
                Блогикум
            </a>
            <div class="collapse navbar-collapse">
                {% with view_name=request.resolver_match.view_name %}
                    <nav class="nav ms-auto">
                        
                        <a class="nav-link rounded px-3 
                            {% if view_name == 'blog:index' %}active bg-primary text-white{% endif %}" 
                            href="{% url 'blog:index' %}">
                            Лента записей
                        </a>

                        <a class="nav-link rounded px-3 
                            {% if view_name == 'pages:about' %}active bg-primary text-white{% endif %}" 
                            href="{% url 'pages:about' %}">
                            О проекте
                        </a>

                        <a class="nav-link rounded px-3 
                            {% if view_name == 'pages:rules' %}active bg-primary text-white{% endif %}" 
                            href="{% url 'pages:rules' %}">
                            Наши правила
                        </a>

                    </nav>
                {% endwith %}
            </div>
        </div>
    </nav>
</header>