{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1 class="mb-4">Лента записей</h1>
  <hr>

  {% for post in posts %}
    <article class="mb-4">
      <ul>
        <li><b>Место:</b> {{ post.location }}</li>
        <li><b>Дата:</b> {{ post.date }}</li>
        <li><b>Категория:</b> <a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a></li>
      </ul>
      
      <p>{{ post.text|truncatechars:50 }}</p>
      
      <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
    </article>
    
    {% if not forloop.last %}
      <hr class="mb-4">
    {% endif %}
  {% endfor %}
</div>
{% endblock %}